header{
    border: 1px solid #ccc;
    padding: 10px;
}

nav{
    border: 1px;
    padding: 10px;
    background: #ccc;
}

nav ul{
    list-style: none;
}

footer{
    background: rgb(79, 79, 79);
}

article{
    background: rgb(220, 220, 220);
    padding: 10px;
}

section{
    border: 1px solid dotted #fff;
}

aside{
    background: rgb(112, 112, 198);
}



