#conteudo{
    background: #dcdcdc;
    height: 400px;
    /*display: block;  item abaixo do outro */
    display: flex; /* item ao lado do outro */


    /* row , row-reverse , column , column-reverse */
    flex-direction: column; /* define as direções que quer alinhar os elementos */
}

.item{
    background: white;
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 1px solid grey;
}
